.bsl-brand-mobile {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  margin: 0;
}
.bsl-icon-bussola {
  background-image: url(../images/bussola-icone-p.png);
  background-size: cover;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 5px;
}

.bsl-icon-lattes {
  background-image: url(../images/ico-lattes.jpg);
  background-size: cover;
  display: inline-block;
  width: 16px;
  height: 18px;
  margin: -2px 0 0;
}

.bsl-tit-color {
  color: #4c4e6f;
}

.bsl-thumb-user {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.bsl-thumb-profile-user {
  border-radius: 100% !important;
  margin-right: 20px !important;
  padding-top: 2px !important;
  object-fit: cover !important;
}

.bsl-thumb-profile-status {
  top: -4px !important;
  right: 16px !important;
}

.bsl-icon-cog {
  margin-right: 25px;
  font-size: 30px;
  color: #4c4e6f;
}

.bsl-header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 265px;
  height: 119px;
  border-right: 1px solid #ebedf3;
  position: fixed;
  left: 0;
  top: 0;
  background: #ffffff;
  padding: 5px;
  box-sizing: border-box;
}

.bsl-header-img {
  width: 100%;
  height: 109px;
  object-fit: scale-down;
}

.bsl-brand {
  justify-content: flex-end;
}

.bsl-word-break {
  word-break: break-word;
}

.bsl-card-scroll {
  max-height: 440px;
}

.bsl-card-scroll .card-body {
  overflow-y: auto;
  margin: 15px 5px 15px 0;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
}

.bsl-card-scroll .card-body * {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.322) transparent;
}

.bsl-card-scroll .card-body::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4px;
}

.bsl-card-scroll .card-body::-webkit-scrollbar-track {
  background: transparent;
}

.bsl-card-scroll .card-body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.322);
  border-radius: 20px;
}

.bsl-card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 164px;
  padding: 10px;
}

.bsl-card-icon {
  padding-bottom: 10px;
}

.bsl-card-icon i {
  font-size: 2.2rem;
  color: #fff;
}

.bsl-card-icon .rocket {
  /* width: 32px; */
  height: 32px;
}

.bsl-card-title {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: right;
}

.bsl-card-subtitle {
  font-size: 1rem;
  text-align: right;
  font-family: "Poppins", sans-serif;
  display: block;
  line-height: 1.2;
  color: #fff;
  padding-top: 2px;
}

.bsl-card-number {
  font-family: "Poppins", sans-serif;
  color: #e8f297;
  display: block;
  line-height: 1;
  font-weight: 500;
  text-align: right;
  font-size: 5rem;
}

.bsl-card-primary {
  background-color: #0173bc;
}

.bsl-card-secundary {
  background-color: #009695;
}

.d-flex-bsl {
  display: flex;
}

.dropdown-menu.dropdown-menu-sm {
  z-index: 99;
}

.aside-menu {
  height: calc(100vh - 210px) !important;
}

.symbol.symbol-100 .symbol-label {
  object-fit: cover !important;
}

.bsl-item .btn:hover {
  background: transparent !important;
}

.bsl-item .symbol.symbol-25 .symbol-label,
.bsl-item .symbol.symbol-35 .symbol-label {
  width: auto;
}

.bsl-item .symbol.symbol-light-success .symbol-label {
  background-color: transparent !important;
}

.bsl-actions .btn.btn-sm {
  width: 48%;
  font-size: 0.9rem;
  padding-top: 0.47rem !important;
  padding-bottom: 0.47rem !important;
}

.bsl-list-item {
  min-height: 7.5rem;
}

.bsl-card-list-1 .bsl-description {
  min-height: 4.4rem;
  text-align: justify;
}

.bsl-card-list-2 .bsl-description {
  min-height: 6.68rem;
  text-align: justify;
}

.bsl-card-list-2 .bsl-list {
  min-height: 5.4rem;
}

.bsl-symbol {
  width: 100%;
  height: 5.8rem;
  margin-bottom: 13px;
  overflow: hidden;
  position: relative;
}

.bsl-symbol-2 {
  width: 100%;
  height: 5.5rem;
}

.bsl-symbol img {
  display: block;
  min-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  object-fit: scale-down;
}

.bsl-symbol-2 img {
  /*width: 100%;*/
  max-width: 7rem;
  height: auto;
  margin: 0 auto;
}

.text-height {
  height: 4rem;
}

.btn-bottom {
  position: absolute;
  bottom: 2rem;
  left: 2.25rem;
  width: 100%;
  display: contents;
}

.card.card-custom > .card-body.card-item {
  height: 417px;
}

.card.card-custom > .card-body.card-map {
  padding: 1rem;
  height: 353px;
}

.card.card-custom > .card-body.card-map > div {
  height: 100% !important;
}

@media (min-width: 992px) {
  .header-fixed.subheader-fixed .subheader {
    z-index: 9;
  }
  .aside-fixed .aside {
    margin-top: 119px;
  }
  .header-fixed.aside-minimize .header,
  .aside-enabled.subheader-fixed .subheader {
    left: 265px !important;
  }
}

/* TABLE */

.table-yearly {
  table-layout: fixed;
  width: 100%;
  border-spacing: 0;
  border-collapse: initial;
}
.table-yearly thead th {
  /* border: 1px solid #ccc; */
  text-align: center;
  color: #1344a0;
}
.table-yearly thead th.bg {
  background: #ddd;
}
.table-yearly tbody th,
.table-yearly tbody td {
  color: blue;
  text-align: right;
}
.table-yearly tbody th.cell {
  color: #000;
  border-left: 1px solid #ccc;
}
.table-yearly tbody th.bg {
  background: #cedcec;
}
.table-yearly tbody th.dif {
  border-left: 1px solid #ccc;
  color: #666;
  text-align: left;
}
/* .table-yearly tr {
  border-top: 1px solid #ccc;
} */
.table-yearly th,
.table-yearly td {
  vertical-align: top;
  border-top: 1px solid #ccc;
  padding: 5px;
  width: 100px;
}
.table-yearly th {
  width: 100px;
}
.table-yearly .hard_left {
  position: absolute;
  left: 0;
  width: 180px;
}
.outer {
  position: relative;
}
.outer .card-toolbar {
  margin: 0 0 15px;
}
.inner {
  overflow-x: auto;
  /* overflow-y: visible; */
  width: auto;
  margin-left: 180px;
}
.table-yearly .receita {
  background: #87ceff;
  color: #555555;
}
.table-yearly .despesa {
  background: #ff6347;
  color: #555555;
}
.table-yearly .t-despesa {
  color: red;
}
.table-yearly .bdr {
  border-right: 1px solid #ccc;
}
.table-yearly .bdl {
  border-left: 1px solid #ccc;
}
.table-yearly .bdb {
  border-bottom: 1px solid #ccc;
}

#authors1 .btn.btn-light-primary br,
#authors2 .btn.btn-light-primary br,
#yearTable .btn.btn-light-primary br {
  display: none;
}

@media (max-width: 991.98px) {
  .aside-fixed .aside {
    margin-top: 55px;
  }
  .aside-fixed .aside-menu {
    height: calc(100vh - 79px) !important;
  }
  .subheader.subheader-solid {
    position: fixed;
    left: 0;
    right: 0;
    top: 109px;
    z-index: 9;
  }
  .topbar .bsl-thumb-user {
    height: 35px !important;
    width: 35px !important;
  }
  .header .header-menu-wrapper {
    top: 55px !important;
    left: 0 !important;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #ebedf3;
    padding: 0 15px;
    box-sizing: border-box;
  }
  .topbar-mobile-on.header-mobile-fixed .topbar {
    z-index: 1001;
    box-shadow: none;
    border-top: none;
  }
  .offcanvas.offcanvas-right.offcanvas-on,
  .aside.aside-fixed {
    z-index: 1005;
  }
  .offcanvas-overlay,
  .aside-overlay {
    z-index: 1002;
  }
  .header-mobile-fixed .header-mobile {
    z-index: 1001;
  }
  .subheader-enabled:not(.subheader-mobile-fixed) .content {
    padding-top: 112px;
  }
}

@media (max-width: 325px) {
  .header-menu-wrapper {
    width: 100% !important;
  }
}
